<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easymall.mappers.AgentMessageMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.easymall.entity.po.AgentMessage">
		<!--消息ID-->
		<id column="message_id" property="messageId"  />
		<!--AI消息-->
		<result column="assistant_message" property="assistantMessage"  />
		<!--用户消息-->
		<result column="user_message" property="userMessage"  />
		<!--发送时间-->
		<result column="send_time" property="sendTime"  />
		<!--用户ID-->
		<result column="user_id" property="userId"  />
		<!--0:用户取消 1:回答中 2:完成-->
		<result column="status" property="status"  />
		<!--业务类型-->
		<result column="biz_type" property="bizType"  />
		<!---->
		<result column="biz_data" property="bizData"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 a.message_id,a.assistant_message,a.user_message,a.send_time,a.user_id,
		 a.status,a.biz_type,a.biz_data
	</sql>

	<sql id="base_condition_filed">
			<if test="query.messageId != null">
				 and  a.message_id = #{query.messageId}
			</if>
			<if test="query.assistantMessage != null and query.assistantMessage!=''">
				 and  a.assistant_message = #{query.assistantMessage}
			</if>
			<if test="query.userMessage != null and query.userMessage!=''">
				 and  a.user_message = #{query.userMessage}
			</if>
			<if test="query.sendTime != null and query.sendTime!=''">
				 <![CDATA[ and  a.send_time=str_to_date(#{query.sendTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.userId != null and query.userId!=''">
				 and  a.user_id = #{query.userId}
			</if>
			<if test="query.status != null">
				 and  a.status = #{query.status}
			</if>
			<if test="query.bizType != null and query.bizType!=''">
				 and  a.biz_type = #{query.bizType}
			</if>
			<if test="query.bizData != null and query.bizData!=''">
				 and  a.biz_data = #{query.bizData}
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.assistantMessageFuzzy!= null  and query.assistantMessageFuzzy!=''">
				 and  a.assistant_message like concat('%', #{query.assistantMessageFuzzy}, '%')
			</if>
			<if test="query.userMessageFuzzy!= null  and query.userMessageFuzzy!=''">
				 and  a.user_message like concat('%', #{query.userMessageFuzzy}, '%')
			</if>
			<if test="query.sendTimeStart!= null and query.sendTimeStart!=''">
				 <![CDATA[ and  a.send_time>=str_to_date(#{query.sendTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.sendTimeEnd!= null and query.sendTimeEnd!=''">
				 <![CDATA[ and  a.send_time< date_sub(str_to_date(#{query.sendTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.userIdFuzzy!= null  and query.userIdFuzzy!=''">
				 and  a.user_id like concat('%', #{query.userIdFuzzy}, '%')
			</if>
			<if test="query.bizTypeFuzzy!= null  and query.bizTypeFuzzy!=''">
				 and  a.biz_type like concat('%', #{query.bizTypeFuzzy}, '%')
			</if>
			<if test="query.bizDataFuzzy!= null  and query.bizDataFuzzy!=''">
				 and  a.biz_data like concat('%', #{query.bizDataFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM agent_message a <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM agent_message a <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.easymall.entity.po.AgentMessage">
		<selectKey keyProperty="bean.messageId" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO agent_message
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.assistantMessage != null">
				 assistant_message,
			</if>
			<if test="bean.userMessage != null">
				 user_message,
			</if>
			<if test="bean.sendTime != null">
				 send_time,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.bizType != null">
				 biz_type,
			</if>
			<if test="bean.bizData != null">
				 biz_data,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.assistantMessage!=null">
				 #{bean.assistantMessage},
			</if>
			<if test="bean.userMessage!=null">
				 #{bean.userMessage},
			</if>
			<if test="bean.sendTime!=null">
				 #{bean.sendTime},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.bizType!=null">
				 #{bean.bizType},
			</if>
			<if test="bean.bizData!=null">
				 #{bean.bizData},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.easymall.entity.po.AgentMessage">
		 INSERT INTO agent_message
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.messageId != null">
				 message_id,
			</if>
			<if test="bean.assistantMessage != null">
				 assistant_message,
			</if>
			<if test="bean.userMessage != null">
				 user_message,
			</if>
			<if test="bean.sendTime != null">
				 send_time,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.bizType != null">
				 biz_type,
			</if>
			<if test="bean.bizData != null">
				 biz_data,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.messageId!=null">
				 #{bean.messageId},
			</if>
			<if test="bean.assistantMessage!=null">
				 #{bean.assistantMessage},
			</if>
			<if test="bean.userMessage!=null">
				 #{bean.userMessage},
			</if>
			<if test="bean.sendTime!=null">
				 #{bean.sendTime},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.bizType!=null">
				 #{bean.bizType},
			</if>
			<if test="bean.bizData!=null">
				 #{bean.bizData},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.assistantMessage!=null">
				 assistant_message = VALUES(assistant_message),
			</if>
			<if test="bean.userMessage!=null">
				 user_message = VALUES(user_message),
			</if>
			<if test="bean.sendTime!=null">
				 send_time = VALUES(send_time),
			</if>
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.status!=null">
				 status = VALUES(status),
			</if>
			<if test="bean.bizType!=null">
				 biz_type = VALUES(biz_type),
			</if>
			<if test="bean.bizData!=null">
				 biz_data = VALUES(biz_data),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.easymall.entity.po.AgentMessage" useGeneratedKeys="true" keyProperty="messageId">
		 INSERT INTO agent_message(
			 assistant_message,
			 user_message,
			 send_time,
			 user_id,
			 status,
			 biz_type,
			 biz_data
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.assistantMessage},
				 #{item.userMessage},
				 #{item.sendTime},
				 #{item.userId},
				 #{item.status},
				 #{item.bizType},
				 #{item.bizData}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.easymall.entity.po.AgentMessage">
		 INSERT INTO agent_message(
			 assistant_message,
			 user_message,
			 send_time,
			 user_id,
			 status,
			 biz_type,
			 biz_data
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.assistantMessage},
				 #{item.userMessage},
				 #{item.sendTime},
				 #{item.userId},
				 #{item.status},
				 #{item.bizType},
				 #{item.bizData}
			 )
		 </foreach>
			on DUPLICATE key update 
			assistant_message = VALUES(assistant_message),
			user_message = VALUES(user_message),
			send_time = VALUES(send_time),
			user_id = VALUES(user_id),
			status = VALUES(status),
			biz_type = VALUES(biz_type),
			biz_data = VALUES(biz_data)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.easymall.entity.query.AgentMessageQuery">
		 UPDATE agent_message a
 		 <set> 
			<if test="bean.assistantMessage != null">
				 assistant_message = #{bean.assistantMessage},
			</if>
			<if test="bean.userMessage != null">
				 user_message = #{bean.userMessage},
			</if>
			<if test="bean.sendTime != null">
				 send_time = #{bean.sendTime},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.bizType != null">
				 biz_type = #{bean.bizType},
			</if>
			<if test="bean.bizData != null">
				 biz_data = #{bean.bizData},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete a from agent_message a
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据MessageId修改-->
	<update id="updateByMessageId" parameterType="com.easymall.entity.po.AgentMessage">
		 UPDATE agent_message
 		 <set> 
			<if test="bean.assistantMessage != null">
				 assistant_message = #{bean.assistantMessage},
			</if>
			<if test="bean.userMessage != null">
				 user_message = #{bean.userMessage},
			</if>
			<if test="bean.sendTime != null">
				 send_time = #{bean.sendTime},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.bizType != null">
				 biz_type = #{bean.bizType},
			</if>
			<if test="bean.bizData != null">
				 biz_data = #{bean.bizData},
			</if>
 		 </set>
 		 where message_id=#{messageId}
	</update>

	<!-- 根据MessageId删除-->
	<delete id="deleteByMessageId">
		delete from agent_message where message_id=#{messageId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByMessageId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from agent_message a where message_id=#{messageId}
	</select>

</mapper>